<!doctype html>
<html lang="ja" ng-app>
  <head>
    <title>みんなの単語帳</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <style>
      body {
        padding-top: 60px;
      }
    </style>
    <script>
    /*
      var myfunc = function mycallback(data){
        alert(data);
      }
    */
      var transword = "";
      
      function TransBodyController($scope){
        var socket = io.connect();
        socket.emit('connect');
      }
      
      //1.翻訳ワードインプット
      function TransController($scope) {
        var socket = io.connect();
        $scope.transword = '';

        //1-1.翻訳ボタン実行時処理
        $scope.send = function WordTrans() {
          console.log('WordTrans :', $scope.transword);
          
          transword = $scope.transword;
          
          //サーバ側翻訳処理へワードを渡す
          socket.emit('wordtrans', $scope.transword);
        };

      }

      //3.翻訳の本実行
      function TransResultController($scope){
        var socket = io.connect();
        
        //3-1.トークン取得後の翻訳処理
        socket.on('gettoken', function (token) {
          
          //MicrosoftTranslatorの実行
          var appid = 'Bearer '+ token.token;

          $.ajax({
            url: 'https://api.microsofttranslator.com/V2/Ajax.svc/Translate',
//            url: 'https://api.microsofttranslator.com/V2/Ajax.svc/GetTranslations',
            dataType: 'jsonp',
            jsonp: 'oncomplete',
//            crossDomain: true,
            jsonpCallback:'myfunc',
            data: {
              appId: appid,
              text: transword,
//              from: 'en',
              to: 'ja',
//              maxTranslations: '5',
              contentType: 'text/plain'
            },
            success: function (data) {
              //3-1-1.翻訳成功
              $scope.result = data;
              $scope.$apply();
              //3-1-2.サーバー側でDB登録
              socket.emit("result",transword);
              // 結果を表示
//              alert(data);
            },
            error: function(XMLHttpRequest, textStatus, errorThrown){
              console.log(errorThrown);
             
            }
            
          });

/*
            var from = "ja", to = "es", text = searchword;

            var s = document.createElement("script");
            s.src = "https://api.microsofttranslator.com/V2/Ajax.svc/Translate" +
                "?appId=Bearer " + encodeURIComponent(appid) +
                "&from=" + encodeURIComponent(from) +
                "&to=" + encodeURIComponent(to) +
                "&text=" + encodeURIComponent(text) +
                "&oncomplete=mycallback";
            document.body.appendChild(s);
*/
        });
        
      }

      function TransWordController($scope){
        var socket = io.connect();

        //翻訳ワードリスト        
        socket.on('transwordlist', function ($words) {
          $scope.words = [];
          for( var i=0; i<$words.length; i++ ){
            $scope.words.push($words[i]);
          }
          $scope.$apply();
        });
        
      }
      
      
    </script>
  </head>
  <body ng-controller="TransBodyController">
    <div class="container" >
      <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
          <div class="pull-right">
            <a href="https://c9.io" class="brand">WORD BOOK</a>
          </div>
        </div>
      </div>
      <div class="page-header">
        <h1>みんなの単語帳</h1>
      </div>
      <div class="row" >
        <div class="span9" ng-controller="TransController">
          <form class="form-inline"  ng-submit="send()">
              <input type="text" ng-model="transword" class="form-control input-lg"/>
              <input type="submit" class="span1 btn btn-primary" value="翻訳" >
<!--              <button ng-click="WordSearch()" type="submit" class="btn btn-primary btn-lg">検索</button>-->
          </form>
          <div class="span9" ng-controller="TransResultController">
            <p ng-bind="result"></p>
          </div>
        </div>
        <div class="span3" ng-controller="TransWordController">
          <ul class="nav nav-list well">
            <li class="nav header">検索したワード</li>
            <li ng-repeat="word in words">{{word.word}}({{word.count}})</li>
          </ul>
        </div>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
  </body>
</html>
